# Django
DJANGO_SECRET_KEY=your-secret-key-change-in-production
DEBUG=True

# PostgreSQL
POSTGRES_DB=db
POSTGRES_USER=doby_db_user
POSTGRES_PASSWORD=doby_db_password
POSTGRES_PORT=5432

# Redis (для Channels)
REDIS_HOST=redis
REDIS_PORT=6379